{% extends 'agencia/base.html' %}


{% block title %}

Eliminar viaje | Roma Travel

{% endblock %}


{% block contenido %}


<div class="container my-5">


    <div class="row justify-content-center">


        <div class="col-lg-6">


            <div class="card shadow">


                <div class="card-body p-5 text-center">


                    <div
                        style="font-size: 65px;"
                    >

                        🗑️

                    </div>


                    <h1 class="text-danger fw-bold">

                        Eliminar viaje

                    </h1>


                    <p class="fs-5 mt-4">

                        ¿Estás seguro de que deseas
                        eliminar el viaje a

                        <strong>

                            {{ viaje.destino }}

                        </strong>

                        ?

                    </p>


                    <div class="alert alert-warning">


                        <strong>
                            País:
                        </strong>

                        {{ viaje.pais }}


                        <br>


                        <strong>
                            Fecha de salida:
                        </strong>

                        {{ viaje.fecha_salida|date:"d/m/Y" }}


                    </div>


                    <form method="POST">


                        {% csrf_token %}


                        <button
                            type="submit"
                            class="btn btn-danger btn-lg"
                        >

                            🗑️ Sí, eliminar

                        </button>


                        <a
                            href="{% url 'administrar_viajes' %}"
                            class="btn btn-outline-secondary btn-lg"
                        >

                            Cancelar

                        </a>


                    </form>


                </div>


            </div>


        </div>


    </div>


</div>


{% endblock %}