{% extends 'agencia/base.html' %}


{% block title %}
Viajes disponibles | Roma Travel
{% endblock %}


{% block contenido %}


<div class="container my-5">


    <div class="text-center mb-5">

        <h1 class="fw-bold">
            ✈️ Viajes disponibles
        </h1>

        <p class="fs-5 text-muted">
            Selecciona el viaje que prefieras.
        </p>

    </div>


    <div class="row g-4">


        {% for viaje in viajes %}


        <div class="col-lg-4 col-md-6">

            <div class="card shadow h-100">

                <div class="card-body p-4">


                    <h2 class="fw-bold">
                        ✈️ {{ viaje.destino }}
                    </h2>


                    <h5 class="text-muted">
                        🌎 {{ viaje.pais }}
                    </h5>


                    <hr>


                    <p>
                        <strong>🛫 Salida:</strong>
                        {{ viaje.fecha_salida|date:"d/m/Y" }}
                    </p>


                    <p>
                        <strong>🛬 Regreso:</strong>
                        {{ viaje.fecha_regreso|date:"d/m/Y" }}
                    </p>


                    <p>
                        <strong>🧳 Tipo:</strong>
                        {{ viaje.tipo_viaje }}
                    </p>


                    <p>
                        <strong>👥 Cupos disponibles:</strong>
                        {{ viaje.cupos }}
                    </p>


                    <p class="text-muted">
                        {{ viaje.descripcion }}
                    </p>


                    <hr>


                    <div class="text-center">

                        <p class="mb-1">
                            Precio por persona
                        </p>

                        <h2 class="precio">
                            ${{ viaje.precio }}
                        </h2>


                        <a
                            href="{% url 'reservar_viaje' viaje.id %}"
                            class="btn btn-success btn-lg w-100 mt-3"
                        >
                            Seleccionar viaje
                        </a>

                    </div>


                </div>

            </div>

        </div>


        {% empty %}


        <div class="col-12">

            <div class="alert alert-info text-center p-5">

                <h2>
                    ✈️ No hay viajes disponibles
                </h2>

                <p class="mb-0">

                    En este momento Roma Travel
                    no tiene viajes con cupos disponibles.

                </p>

            </div>

        </div>


        {% endfor %}


    </div>


</div>


{% endblock %}
